.env
local.env
.vscode/*
.idea/*

env
.bentoctl.state.db
tmp

# ignore TLS certificates
lib/gateway/certs

lib/gateway/auth_config.json
lib/gateway/instance_config.json

lib/gateway/nginx.conf.pre
lib/gateway/nginx.conf

# ignore dev repos
lib/web/bento_web/*
repos/*
!repos/.gitkeep
!repos/README.md

# ignore data directories
data
lib/*/data
lib/*/data-x
lib/*/dev

# ignore chord_services in lib
lib/*/chord_services.json

# ignored submodule directories
lib/service-registry/bento_service_registry
lib/web/bento_web

lib/katsu/config.json

# ignored instance specific beacon config
lib/beacon/config/beacon_config.json
lib/beacon/config/beacon_cohort.json

# bento_web
lib/web/*
!lib/web/.gitkeep
!lib/web/docker-compose.web.yaml

# bento_public
lib/public/*
!lib/public/.gitkeep
!lib/public/docker-compose.public.yaml

# gohan_elasticsearch
lib/gohan/es_jvm_options/*
!lib/gohan/es_jvm_options/.gitkeep

# temp test stuff
etc/tests/*/__pycache__
etc/tests/*/*/__pycache__
etc/tests/*/*/*/__pycache__

etc/tests/*/geckodriver
etc/tests/*/geckodriver.log
geckodriver.log
