.env

tmp

# ignore TLS certificates
lib/gateway/certs

lib/gateway/auth_config.json
lib/gateway/instance_config.json

# ignore dev repos
lib/web/bento_web/*

# ignore data directories
lib/*/data
lib/*/data-x

# ignore chord_services in lib
lib/*/chord_services.json

# ignored submodule directories
lib/service-registry/bento_service_registry
lib/web/bento_web


# temp test stuff
etc/tests/*/__pycache__
etc/tests/*/*/__pycache__
etc/tests/*/*/*/__pycache__

etc/tests/*/geckodriver
etc/tests/*/geckodriver.log
geckodriver.log