.env

tmp

# ignore TLS certificates
lib/ingress/certs

lib/ingress/auth_config.json
lib/ingress/instance_auth.json

# ignore data directories
lib/*/data
lib/*/data-x

# ignored submodule directories
lib/service-registry/bento_service_registry