certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
debugpy==1.8.22
docker==7.2.0
flake8==7.4.1
idna==3.20
mccabe==0.7.0
packaging==26.3
pycodestyle==2.15.0
pycparser==3.0
pyflakes==4.0.0
pyhumps==3.8.0
PyYAML==6.0.3
requests==2.34.2
termcolor==3.3.0
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
websocket-client==1.9.2
