certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
debugpy==1.8.21
docker==7.1.0
flake8==7.3.0
idna==3.18
mccabe==0.7.0
packaging==26.2
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
pyhumps==3.8.0
PyYAML==6.0.3
requests==2.34.2
termcolor==3.3.0
tqdm==4.68.2
typing_extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
