certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.4
debugpy==1.8.0
docker==7.0.0
flake8==7.0.0
idna==3.7
mccabe==0.7.0
packaging==23.2
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
pyhumps==3.8.0
PyYAML==6.0.1
requests==2.31.0
termcolor==2.4.0
tqdm==4.66.1
urllib3==2.2.0
websocket-client==1.7.0
